.App {
   text-align: center;
   display: flex;
   flex-direction: column;
   background-image: url(https://wallpapercave.com/wp/wp11599654.jpg);
   background-size:cover;
   background-color: #1f1764;
   /* width: auto; */
   min-height: 100vh;
}
/* *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} */ 